.mod-createButton {
    margin-top: 15px;
    &-buttons {
        display: flex;
    }
    &-face {
        flex: 1;
        border: 4px solid $orange-homes;
        border-radius: 4px;
        padding: 15px 0;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: $orange-homes;
        transition: .2s;
        &:hover {
            color: $mono-white;
            background-color: $orange-homes;
            cursor: pointer;
        }
    }
    &-all {
        flex: 1;
        margin-left: 10px;
        border: 4px solid $blue-cerulean;
        border-radius: 4px;
        padding: 15px 0;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: $blue-cerulean;
        transition: .2s;

        &:hover {
            color: $mono-white;
            background-color: $blue-cerulean;
            cursor: pointer;
        }
    }
}
