.mod-frame {
    width: 100%;
    height: 400px;
    margin-top: -5px;
    border: 5px solid $orange-homes;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &-category {
        border-bottom: 2px solid #d8d8d8;
        padding: 10px 20px;
    }
    &-parts {
        flex: 1;
        padding: 20px;
    }
}


.mod-selectParts {
    list-style: none;
    flex-wrap: wrap;
    display: none;
    &.is-selected {
        display: flex;
    }
    &-part {
        width: 100px;
        height: 100px;
        background-color: $yellow-ivoly;
        transition: .15s;
        &:not(:nth-child(5n)) {
            margin-right: 10px;
        }
        &:nth-child(n+6) {
            margin-top: 10px;
        }
        &:hover {
            background-color: $orange-homes;
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}
