.sec-container {
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}
.sec-maker {
    display: flex;
    &-canvas {
        width: 320px;
    }
    &-parts {
        flex: 1;
        margin-left: 20px;
    }
}
.sec-overlay {
    visibility: visible;
    opacity: 1;
    transition: .2s;
    &.is-hide {
        visibility: hidden;
        opacity: 0;
    }
}
