.sec-container {
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}
.sec-maker {
    display: flex;
    &-canvas {
        width: 320px;
    }
    &-parts {
        flex: 1;
        margin-left: 20px;
        &-frame {
            width: 100%;
            height: 400px;
            margin-top: -5px;
            border: 5px solid $orange-homes;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            &-category {
                border-bottom: 2px solid #d8d8d8;
                padding: 10px 20px;
            }
            &-parts {
                flex: 1;
                padding: 20px;
                overflow-y: scroll;
            }
        }
    }
}
.sec-frameArea {
    opacity: 0;
    transition: .2s;
    display: none;
    &.is-selected {
        display: block;
        opacity: 1;
    }
}
.sec-overlay {
    visibility: visible;
    opacity: 1;
    transition: .2s;
    &.is-hide {
        visibility: hidden;
        opacity: 0;
    }
}
