.mod-selectBackgroundColor {
    padding: 20px;
    &-item:not(:first-child) {
        margin-top: 30px;
    }
    &-heading {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &-list {
        list-style: none;
        display: flex;
        &-item {
            width: 20px;
            height: 50px;
            transition: .2s;
            &:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
            &:not(:first-child) {
                margin-left: 10px;
            }


            $colors: (
                1: #ed6103,
                2: #ffab00,
                3: #ebebeb,
                4: #333333,
                5: #fefefe,
                6: #87ceeb,
                7: #20b2aa,
                8: #90ee90,
                9: #6b8e23,
                10: #ffa500,
                11: #a0522d,
                12: #b22222,
                13: #fa8072,
                14: #dc143c,
                15: #ffb6c1,
                16: #da70d6,
                17: #9370db
            );
            @each $index, $code in $colors {
                &.is-#{$index} {
                    background-color: $code;
                }
            }
        }
    }
    &-pick {
        display: inline-block;
        background-color: $mono-white;
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
        padding: 15px 10px;
        text-align: center;
        font-weight: bold;
        transition: .2s;
        &:hover {
            border-color: $orange-homes;
            cursor: pointer;
        }
    }
}
