.mod-selectBackgroundColor {
    padding: 20px;
    &-heading {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &-list {
        list-style: none;
        display: flex;
        &-item {
            width: 20px;
            height: 50px;
            &:not(:first-child) {
                margin-left: 10px;
            }


            $colors: (
                red: red,
                orange: orange,
                yellow: yellow,
                green: green,
                skyblue: skyblue,
                blue: blue,
                purple: purple,
                white: white,
                grey: grey,
                black: black
            );
            @each $color, $code in $colors {
                &.is-#{$color} {
                    background-color: $code;
                }
            }
        }
    }
    &-pick {
        background-color: $mono-white;
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
        padding: 15px 10px;
        text-align: center;
        margin-top: 20px;
    }
}
