.mod-tab {
}
.mod-tab-items {
    display: flex;
    &-item {
        border: 5px solid $orange-homes;
        border-bottom: 0;
        border-radius: 10px 10px 0 0;
        padding: 10px 0 15px;
        display: flex;
        justify-content: center;
        flex: 1;
        transition: .2s;
        &:not(:first-child) {
            margin-left: -5px;
        }
        &:hover,
        &.is-selected {
            background-color: $orange-homes;
            transform: translateY(-5px);
        }
    }
}
