<html>
<head>
    <title>NEXT STAFF MAKER</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
    <section class="sec-container">
        <h1>New Project Maker</h1>
        <section class="sec-maker">
            <section class="sec-maker-canvas">
                <%- include('./modules/canvas', {}) %>
            </section>
            <section class="sec-maker-parts">
                <%- include('./modules/tab', tabs) %>
                <%- include('./modules/frame', parts) %>
            </section>
        </section>
    </section>

    <script src="/assets/js/pages/maker/tab.js"></script>
    <script src="/assets/js/pages/maker/frame.js"></script>
</body>
</html>
