<html>
<head>
    <title>NEXT STAFF MAKER</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <script src="/assets/js/pages/maker/oshushi.js"></script>
</head>
<body>
    <h1>New Project Maker</h1>
</body>
</html>
