<div class="mod-canvas">
    <div class="mod-canvas-parts" id="prg-canvas">
        <ul id="prg-canvas-faceframe" class="mod-canvas-faceframe">

        <li id="prg-canvas-face" class="mod-canvas-parts-part"></li>
        <li id="prg-canvas-eye" class="mod-canvas-parts-part"></li>
        <li id="prg-canvas-fhair" class="mod-canvas-parts-part"></li>
        </ul>

    </div>
</div>
