<div class="mod-canvas">
    <!-- <div id="prg-canvas-faceframe" class="mod-canvas-faceframe"> -->
        <ul id="prg-canvas" class="mod-canvas-parts">
            <li id="prg-canvas-head" class="mod-canvas-parts-part"></li>
            <li id="prg-canvas-fronthair" class="mod-canvas-parts-part is-fronthair"></li>
            <li id="prg-canvas-pias" class="mod-canvas-parts-part"></li>
            <li id="prg-canvas-hige" class="mod-canvas-parts-part"></li>
            <li id="prg-canvas-glass" class="mod-canvas-parts-part"></li>
            <li id="prg-canvas-nose" class="mod-canvas-parts-part is-nose"></li>
            <li id="prg-canvas-mouse" class="mod-canvas-parts-part is-mouse"></li>
            <li id="prg-canvas-hokuro" class="mod-canvas-parts-part"></li>
            <li id="prg-canvas-eye" class="mod-canvas-parts-part is-eye"></li>
            <li id="prg-canvas-strap" class="mod-canvas-parts-part"></li>
            <li id="prg-canvas-face" class="mod-canvas-parts-part is-face"></li>
            <li id="prg-canvas-onepiece" class="mod-canvas-parts-part"></li>
            <li id="prg-canvas-tops" class="mod-canvas-parts-part is-tops"></li>
            <li id="prg-canvas-shoes" class="mod-canvas-parts-part is-shoes"></li>
            <li id="prg-canvas-bottoms" class="mod-canvas-parts-part is-bottoms"></li>
            <li id="prg-canvas-socks" class="mod-canvas-parts-part"></li>
            <li id="prg-canvas-body" class="mod-canvas-parts-part is-body"></li>
            <li id="prg-canvas-backhair" class="mod-canvas-parts-part"></li>
        </ul>
    <!-- </div> -->
</div>
