<div class="mod-canvas">
    <ul class="mod-canvas-parts">
        <li id="prg-canvas-face" class="mod-canvas-parts-part"></li>
        <li id="prg-canvas-eye" class="mod-canvas-parts-part"></li>
        <li id="prg-canvas-fhair" class="mod-canvas-parts-part"></li>
    </ul>
</div>
