<div class="mod-createButton">
    <ul class="mod-createButton-buttons">
        <p id="prg-createButton" class="mod-createButton-face">顔だけ作る</p>
        <p id="prg-createButtonAll" class="mod-createButton-all">全身を作る</p>
    </ul>

</div>
