<section class="sec-frameArea prg-frameArea" data-category="<%- category.name %>">
    <!-- 子カテゴリがあれば表示 -->
    <% if (category.children) { %>
    <section class="sec-maker-parts-frame-category">
        <%- include('./selectCategory', {childCategories: category.parts}) %>
    </section>
    <% } %>

    <!-- パーツ選択するエリア -->                             
    <section class="sec-maker-parts-frame-parts">
        <% let url = '/assets/images/pages/maker/parts/' %>
        <% if (category.children) { %>
            <% const childUrl = url + category.name + '/' %>
            <% for (const child of category.parts) { %>
                <%- include('./selectParts', {category: child, url: childUrl}) %>
            <% } %>
        <% } else { %>
            <%- include('./selectParts', {category: category, url: url}) %>
        <% } %>
    </section>
</section>
