<div class="mod-frame">
    <section class="mod-frame-category">
        <ul class="mod-selectCategory">
            <li class="mod-selectCategory-category">あ</li>
            <li class="mod-selectCategory-category">い</li>
            <li class="mod-selectCategory-category">う</li>
            <li class="mod-selectCategory-category">え</li>
            <li class="mod-selectCategory-category">お</li>
        </ul>
    </section>
    <section class="mod-frame-parts">
        <% let url = '/assets/images/pages/maker/parts/' %>
        <%- include('./selectParts', {category: category, url: url}) %>

    </section>
</div>
