<div class="mod-result" id="prg-result">
    <div class="mod-result-container">
        <h2 class="mod-result-heading">アイコンできたわよ〜</h2>
        <div class="mod-result-wrapper">
            <figure class="mod-result-icon-wrapper">
                <img src="#" id="prg-result-icon">
            </figure>
            <div class="mod-result-download-wrapper">
                <a href="#" download="nextstaffmaker_icon.png" class="mod-result-download" id="prg-result-download">ダウンロードする</href>
            </div>
        </div>
    </div>
</div>
