<div class="mod-result" id="prg-result">
    <div class="mod-result-background" id="prg-result-bg"></div>
    <div class="mod-result-container">
        <h2 class="mod-result-heading">アイコンできたわよ〜</h2>
        <div class="mod-result-wrapper">
            <figure class="mod-result-icon-wrapper">
                <img src="#" id="prg-result-icon" class="mod-result-icon">
            </figure>
            <div class="mod-result-download-wrapper">
                <p class="mod-result-downloads">
                    <a href="#" download="nextstaffmaker_icon.png" class="mod-result-download" id="prg-result-download">ダウンロードする</a>
                </p>
                <p class="mod-result-downloads">
                    <span class="mod-result-download is-onemore" id="prg-result-onemore">もう一度作る</span>
                </p>
            </div>
        </div>
    </div>
</div>
