<section class="sec-frameArea prg-frameArea" data-category="background">
    <div class="mod-selectBackgroundColor">
        <section class="mod-selectBackgroundColor-item">
            <p class="mod-selectBackgroundColor-heading">パレットから選択する</p>
            <ul class="mod-selectBackgroundColor-list">
                <% for (const [index, color] of backgroundColors.entries()) { %>
                <li class="mod-selectBackgroundColor-list-item is-<%- color.name %> prg-selectBackgroundColor-color"
                    data-code="<%- color.code %>">
                </li>
                <% } %>
            </ul>
        </section>
        <section class="mod-selectBackgroundColor-item"></section>
            <p class="mod-selectBackgroundColor-heading">好きな色を選択する</p>
            <p class="mod-selectBackgroundColor-pick prg-selectBackgroundColor-pick">カラーピッカーで選ぶ</p>
        </section>
    </div>
</section>
