<ul class="mod-selectCategory prg-selectCategory" data-category="">
    <% for (const [index, category] of childCategories.entries()) { %>
        <li class="mod-selectCategory-category is-<%- category.name %>" data-category="<%- category.name %>"></li>
    <% } %> 
</ul>
