<ul class="mod-selectVariation prg-selectVariation" data-target="<%- target %>">
    <% for (const variate of variation) { %>
        <li class="mod-selectVariation-variate is-<%- target %><%- variate %>"></li>
    <% } %>
</ul>
