<nav class="mod-tab" id="prg-tab">
    <ul class="mod-tab-items" id="prg-tab-items">
        <% for (const [index, category] of categories.entries()) { %>
            <li class="mod-tab-items-item prg-tab-items-item" data-category="<%- category.name %>">
                <img src="/assets/images/pages/maker/tab/tab<%- index %>.png">
            </li>
        <% } %>
        <li class="mod-tab-items-item prg-tab-items-item" data-category="background">
            <img src="/assets/images/pages/maker/tab/tab9.png">
        </li>
    </ul>
</nav>
