<nav class="mod-tab">
    <ul class="mod-tab-items">
        <% for (let i in tabs) { %>
            <li class="mod-tab-items-item">
                <img src="/assets/images/pages/maker/tab/tab<%- i %>.png">
            </li>
        <% } %>
    </ul>
</nav>
